@model IEnumerable<Fryzjerski.Models.Fryzjer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Zakład Fryzjerski | Fryzjerzy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <link rel="stylesheet" href="~/Styles/Styl.css" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a> Zakład Fryzjerski
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home/Index")">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Usluga/Index")">Usługi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Fryzjer/Index")">Nasza Kadra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Klient/Index")">Nasi Klienci</a>
            </li>
        </ul>
        </div>
    </nav>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nazwisko)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StazPracy)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StazPracy)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FryzjerID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.FryzjerID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FryzjerID })
                    </td>
                </tr>
            }

        </table>
    </body>
</html>
